<h1>Posts</h1>


<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %> 
</ul>

<center>
  <%= paginate @posts %></center>
</center>

<%= form_tag(posts_path, :method => "get") do %>
  <%= check_box_tag(:my) %>
    <%= submit_tag :My %>
<% end %>


<% if can?(:create, Post)%>
  <%= link_to "New Post", new_post_path %>
<% end %>

<% if current_user.present? && current_user.admin? %>
  <%= link_to "Admin Panel", admin_root_path %>
<% end%>