<h1>Публикации</h1>

<%= form_tag(posts_path, :method => "get") do %>
  <%= check_box_tag(:my) %>
    <%= submit_tag :my %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>

<% if can?(:create, Post)%>
  <%= link_to "Новая Публикация", new_post_path %>
<% end %>